@import 'colors';

html {
  @include colors;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  font-size: 12px;
  margin: 0;
  background-color: var(--white);
  color: var(--secondary);
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  .quote{
    > * {
      opacity: 0;
      animation: fade-in .25s ease-out forwards;
    }
    margin: 0 auto;
    max-width: calc(1200px + 3vw);
    @media screen and(max-width: 768px) {
      padding: 0 3rem;
    }
    h1 {
      font-size: 4rem;
      color: var(--primary);
      transition: font-size .3s ease-out;
      @media screen and(max-width:1440px) {
        font-size: 3rem;
      }
      @media screen and(max-width: 768px) {
        font-size: 2.3rem;
      }
      @media screen and(max-width: 55Opx) {
        font-size: 1.5rem;
      }
    }
    p {
      animation-delay: .1s;
      font-size: 1.2rem;
    }
  } 

  #refresh {
    position: fixed;
    bottom: 45px;
    right: 45px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    tab-size: 4;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    margin: 0 auto;
    cursor: pointer;
    padding: 0;
    line-height: inherit;
    background-color: rgba(255,255,255,1);
    border-color: rgba(243,244,246,0.5);
    border-radius: .375rem;
    border-width: 1px;
    font-weight: 500;
    height: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-shadow: 0 3px 5px rgba(0,0,0,0.16);
    color: rgba(17,24,39,var(--tw-text-opacity));
    text-transform: uppercase;
    user-select: none;
    transition: background-color .2s ease-out;
    &:focus, &:hover {
      background-color: rgba(0,0,0, 0.02);
    }
    &:active {
      background-color: var(--primary);
      color: var(--white);
      transform: scale(0.97);
      img {
        filter: invert(1)
      }
    }
    img {
      height: 1rem;
      width: 1rem;
    }
  }
  #attribution {
    position: fixed;
    bottom: 45px;
    left: 45px;
    padding: 5px;
    a {
      text-decoration: underline;
      color: inherit;
    }
  }
  #error {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fafafa;
    padding: 5px;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
